body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
}

.bars {
    width: 100%;
    height: 100px;
}

.content {
    height: calc(98vh - 200px);
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.row {
    height: 49%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: stretch;
    justify-content: space-between;
}

.center {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
