* {
    box-sizing: border-box;
    margin: 0 auto
}

.first-task {
    width: 500px;
    height: 200px;
    margin-top: 20px;
    background-color: #eeeaaa;
    border: 1px solid black;
    text-align: center;
}

.fourth-task {
    width: 500px;
    height: 300px;
    margin-top: 20px;
    border: 1px solid black;
    padding: 5px;
}

.fourth-task > h2 {
    margin-top: 30px;
    text-align: center;
}

.container {
    width: 250px;
    height: 5px;
    margin: 0;
}
